*{
    margin: 0;
    background-color: #F1F1F3;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
/* Shared Styles */
.normal-para{
    font-size: 16px;
    line-height: 24px;
    color: #0E0E0E;
    background-color: #F1F1F3;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.section-mini-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    background-color: #ffffff;
}
.btn-filled{
    background-color: #006A50;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
}
.btn-filled a{
    background-color: #006A50;
    text-decoration: none;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}
.card{
    background-color: #ffffff;
    border: 1px solid #F1F1F3;
    height: 250px;
    width: 300px;
    border-radius: 16px;
}
.table-data{
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}
/* Header */
nav{
    display: flex;
    justify-content: space-between;
}
.signup-btn{
    border: 3px solid #006A50;
    border-radius: 3px;
    background-color: #F1F1F3;
    width: 115px;
    height: 50px;
}
.signup-btn a{
    text-decoration: none;
    color: #006A50;
}
.hero{
    display: flex;
    background-color: #C6E4D6;
    /*max-height: 580px;*/
    max-width: 1280px;
}
.hero img{
    background-color: #C6E4D6;
}
.header-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C6E4D6;
}
.pillar{
    display: flex;
    gap: 24px;
    padding: 0px 160px;
}
.sect-1{
    margin-bottom: 80px;
}
.sect-1>.pillar>.card> img,.card-title,.normal-para{
    background-color: #ffffff;
}
.sect-1>.pillar>.card> img{
    border-radius: 16px;
}
.vision-sect{
    width: 1440px;
    margin-bottom: 80px;
}
.vis-card{
    display: flex;
    gap: 24px;
    padding-left: 160px;
    margin-bottom: 32px;
}
.vision-card-1{
    width: 412px;
    height: 320px;
    background-color: #81B4FC;
    border-radius: 16px;
}
.vision-card-1 img{
    background-color: #81B4FC;
    border-radius: 14px;
}
.vision-card-2{
    width: 412px;
    height: 320px;
    background-color: #C6E4D6;
    border-radius: 16px;
}
.vision-card-2 img{
    background-color: #C6E4D6;
    border-radius: 16px;
}
.vision-card-3{
    width: 412px;
    height: 320px;
    background-color: #F7EBCF;
    border-radius: 16px;
}
.vision-card-3 img{
    background-color: #F7EBCF;
    border-radius: 16px;
}
.quote{
    width: 120px;
    height: 250px;
    margin-left: 160px;
    border: 1px solid #0E0E0E;
    border-radius: 16px;
    background-color: #ffffff;
}
.recent-news{
    width: 1280px;
    margin-left: 160px;

}
.recent-news-parent{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.box-1{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 480px;
    width: 1280px;
    padding: 10px;
    border-radius: 24px;

}
.box-content{
    background-color: #ffffff;
}
.box-2{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 480px;
    width: 1280px;
    padding: 10px;
    border-radius: 24px;
}
.amount-flex{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 24px;
}
.donation{
    margin-bottom: 80px;
}
.donate-btn{
    height: 128px;
    width: 240px;
    border-radius: 16px;
    border: none;
    background-color: #ffffff;
    color: #0E0E0E;
}
.donate-btn h1{
    background-color: #ffffff;
    font-size: 40px;
}
.input-btn-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.input{
    height: 60px;
    width: 1000px;
    background-color: #ffffff;
    border: none;
}
::placeholder{
    text-align: center;
    color: #0e0e0e7c;
    font-size: 20px;
}
.newsteller{
    background-color: #C6E4D6;
    width: 1280px;
    height: 380px;
    text-align: center;
}
.news{
    padding: 70px 200px 70px 200px;
    background-color: #C6E4D6;
}
.news-input-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.mail-input{
    width: 600px;
    height: 55px;
    background-color: #ffffff;

}
footer{
    background-color: #ffffff;
    height: 230px;
    display: flex;
    gap: 26px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons{
    background-color: #ffffff;
    display: flex;
    gap: 23px;

}

.icons img{
    background-color: #ffffff;
}





